.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
    height: 3px;  /* Adjust logo height as needed */
  }
  
  .spacer {
    flex: 1 1 auto;  /* Expands to fill remaining space */
  }
  
  .dropdown {
    margin-left: 10px;  /* Adjust margin for spacing */
  }
  