.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .create-card {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .source-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .source-card {
    width: 600px;
    margin: 20px;
  }
  
  .search-panel {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  